<nav>
    <a href="/">Main Page</a>
    <br><br>
    <a href = "/current_matches.html" > Current Ongoing matches</a>
    <p>Tournaments:</p>
    <ul id="tournamentLinks">
        <link rel="stylesheet" href="/template/style.css">
        <script type="text/javascript" src="javascript/index.js"></script>
        <script>
            fetchTournaments(window.domain + '/tournaments/fetchTournaments');
        </script>
    </ul>
    <p>Signups: </p>
    <ul id="signupLinks">
        <li><a href="/participants.html">All participants</a></li>
        <script>
            fetchSignups(window.domain + '/signups/signuplists');
        </script>
    </ul>
</nav>
        
<article id="mainwindow">